@import "../../styles/scsss/variables";
.Container {
  & .MenuItem {
    padding: 5px 18px;
    border-radius: 25px;
    color: $text-primary;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      background: $light-blue;
    }
  }
  & .ActiveItem {
    color: #4f73fd;
  }
  & .NavbarToggle {
    border: none;
    outline: none;
    &:focus,&:active {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}