@import "styles/scsss/variables";

.GiftsContainers {
  min-height: 55vh;
  & .Title {
    font-size: 34px;
    font-weight: bolder;
    & .GiftCount {
      color: #4673ff;
      padding-left: 6px;
    }
    & .GiftValue {
      color: #ff9800;
    }
  }

  & .Description {
    line-height: 3;
    color: #002e71;
    font-size: 18px;
  }

  & .GiftImage {
    max-width: 500px;
  }

  @media screen and (max-width: 1480px) {
    margin: 110px 0;
    & .Title {
      font-size: 38px;
    }
    & .Description {
      margin-top: 32px;
      font-size: 22px;
    }
  }
}
