@import "../../styles/scsss/variables";
.Button {
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Primary {
  background: $primary;
  color: #fff;
}

.Warning {
  background: $warning;
  color: #fff;
}
.Success {
  background: $success;
  color: #fff;
}
.Error {
  background: $error;
  color: #fff;
}