$primary: #5071fa;
$warning: #ff9e01;
$success: #3cd390;
$error: #fe574e;
$text-primary: #0b2c6f;
$grey: #e6ebf1;
$light-grey: #f6f7f9;
$light-blue: #eef2fd;
$primary-text: #002c72;
$dark-blue: #3a63ee;