@import "styles/scsss/variables";

.CountDownContainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-column-gap: 16px;
  max-width: 580px;
  direction: ltr;
}

.TimeBoxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.3rem;
  height: 8.3rem;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  & > .TimeBoxValue {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 64px;
    color: #ff9800;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    //-webkit-transform: translate(50%, 0);
    //transform: translate(50%, 0);
  }
  & > .TimeBoxLabel {
    position: absolute;
    bottom: 6px;
    text-align: center;
    font-size: 24px;
    color: #99abc8;
    font-weight: 500;
  }
}